{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

  <a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a>

  <h1>{{ heading }}</h1>

  {% if customers.length > 0 %}
    <{%if heading === 'Best Customers!' %}ol{% else %}ul{% endif %} style="column-count: 4">
      {% for customer in customers %}
        <li>
          <a href="/{{ customer.id }}/">
            {{ customer.fullName }}
          </a>
        </li>
      {% endfor %}
    </{% if heading === 'Best Customers!' %}ol{% else %}ul{% endif %}>
  {% else %}
    <p>No customer matching: <i>{{term}}</i></p>
  {% endif %}
  
{% endblock %}