{% extends 'base.html' %}

{% block title %}Edit reservation for {{ customer.fullName }}{% endblock %}

{% block content %}

  <form action="/reservations/{{ reservation.id }}/edit/" method="POST">
    <h1>Edit the Reservation</h1>

    <div class="form-group">
      <label for="start">Start</label>
      <small id="startHelpBlock" class="form-text text-muted">
        You can use this format: <i>yyyy-mm-dd hh:mm am/pm</i>
      </small>
      <input id="start" class="form-control" name="startAt" value="{{ reservation.startAt }}" placeholder="yyyy-mm-dd hh:mm am/pm">
    </div>
    <div class="form-group">
      <label for="num-guests"># of Guests:</label>
      <input class="form-control" value="2" name="numGuests" value="{{ reservation.numGuests }}" type="number" id="num-guests">
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <textarea class="form-control" name="notes" id="notes">
        {{ reservation.notes }}
      </textarea>
    </div>
    <button class="btn btn-primary">Edit</button>
    <a href="/{{ customer.id }}/" class="btn btn-danger">Cancel</a>
  </form>

{% endblock %}